

 body {
	
	background: #104352;
	
}

.wrap {
	 top: 0;
	 left: 0;
	 height: auto;
	 width: 100%;
}

.menu_container {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	background-color: #104352
	
}

.menu {
	font: bold 12px sans-serif;
	text-align: center;
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	
	
	
}

.menu li {
	
	color: grey;
	display: inline-block;
	margin-right: -2px;
	position: relative;
	padding: 12px 40px;
	border: 2px solid gray;
	background-color: beige;
	cursor: pointer;
	
	}
	
.menu li:hover {
	
	color:blue;
	background-color: #fff;
	
}

.menu li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
	
}


.submenu {
	
	padding: 0;
	left: 0;
	position: absolute;
	width: 123px;
	visibility: hidden;
}


.submenu li {
	
	display: block;
	background-color: red;
	color: black;
}

.submenu li:hover {
	color: #fff;
	background-color: yellow;
}